.nav {
  color: black;
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;

  }

  &__item {
    padding: 8px 24px;
    margin: 0 38px;

  }

  &__link {
    display: block;
    font-size: 12px;
    color: white;
    text-decoration: none;
    transition: 0.5s;

  }
}
