h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav {
  color: black;
  text-transform: uppercase; }
  .nav__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 32px;
    border-radius: 8px;
    -webkit-transition: 0.8s;
    transition: 0.8s; }
    .nav__item_active {
      background-color: rgba(255, 255, 255, 0.1); }
    .nav__item:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .nav__link {
    display: block;
    font-size: 12px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    white-space: nowrap; }
  .nav__toggler {
    display: none; }

@media screen and (max-width: 1124px) {
  .nav__item {
    margin: 0 15px; } }

@media screen and (max-width: 1023px) {
  .nav__item {
    margin: 0 10px; } }

@media screen and (max-width: 950px) {
  .nav__item {
    margin: 0 -1px; } }

@media screen and (max-width: 768px) {
  .nav__item {
    margin: 0 -8px; } }

@media screen and (max-width: 750px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 120px;
    padding-left: 21px; }
  .nav {
    display: none;
    background-color: #0075ff; }
  .nav__link {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px; } }

.header {
  height: 700px;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 24px;
    left: 120px;
    right: 120px;
    color: white; }
  .header__phone {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.8s;
    transition: color 0.8s; }
    .header__phone:hover {
      color: lightgrey; }
    @media (max-width: 750px) {
      .header__phone {
        position: absolute;
        top: 16px;
        left: -86px;
        width: 18px;
        height: 18px;
        font-size: 0;
        background-image: url(../images/phone-icon.svg); } }
  .header__text {
    position: absolute;
    top: 414px;
    left: 120px;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    color: white; }
    @media (max-width: 999px) {
      .header__text {
        font-size: 55px;
        line-height: 50px; } }
    @media (max-width: 750px) {
      .header__text {
        top: 407px;
        letter-spacing: -1px;
        font-size: 46px;
        line-height: 40px; } }
    @media (max-width: 320px) {
      .header__text {
        letter-spacing: 2px;
        left: 18px; } }
    .header__text:before {
      content: "";
      position: absolute;
      left: 0;
      top: -16px;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background-color: white; }
  .header__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    -webkit-transition: color 0.8s;
    transition: color 0.8s; }
    .header__link:hover {
      color: lightgrey; }
    .header__link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff; }
  .header__logo {
    z-index: 1; }
  .header__logo_img {
    height: 76px; }
  .header__action {
    position: relative;
    padding-bottom: 8px; }
  .header__toggle_icon {
    display: none;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu-icon.svg);
    cursor: pointer;
    -webkit-transition: background-image 0.2s;
    transition: background-image 0.2s; }
  .header__toggle_button {
    display: none; }

@media (max-width: 750px) {
  .header {
    height: 100vh; } }

@media (max-width: 750px) {
  :checked ~ .nav {
    display: block;
    top: 0;
    bottom: 0;
    margin: -24px -20px 0; }
    :checked ~ .nav .nav__list {
      position: absolute;
      -webkit-animation: 0.8s anim-menu;
              animation: 0.8s anim-menu; }
  @-webkit-keyframes anim-menu {
    from {
      left: -200px; }
    to {
      left: 0; } }
  @keyframes anim-menu {
    from {
      left: -200px; }
    to {
      left: 0; } }
  :checked + .header__toggle_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-close-icon.svg); } }

@media (max-width: 750px) {
  .header__toggle_icon {
    display: block;
    position: absolute;
    top: 45px;
    right: 23px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
  .header__link {
    display: none; } }

.section {
  position: relative;
  padding-top: 104px;
  padding-bottom: 0;
  padding-left: 120px;
  padding-right: 120px; }

@media screen and (max-width: 999px) {
  .section {
    padding-left: 80px;
    padding-right: 80px; } }

@media screen and (max-width: 750px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

@media screen and (max-width: 320px) {
  .section {
    padding-left: 20px;
    padding-right: 21px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    margin: 0;
    height: 97px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }
  .info__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 27px; }
    .info__text > :last-child {
      margin-bottom: 0; }
  .info__text_heading {
    margin: 0;
    color: #0075ff; }

@media screen and (max-width: 500px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__text {
      padding-top: 48px;
      width: 100%; } }

@media screen and (max-width: 500px) and (max-width: 320px) {
  .info__heading {
    font-size: 40px; } }

.gallery__caption {
  display: block;
  padding-top: 24px;
  padding-bottom: 40px; }

.gallery__button {
  margin: 40px auto 0;
  padding: 21px 65px; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos_wide_left .photos__img:nth-child(1) {
    width: calc(67% - 10px); }
  .photos_wide_left .photos__img:nth-child(2) {
    width: calc(33% - 10px); }
  .photos_wide_right .photos__img:nth-child(1) {
    width: calc(33% - 10px); }
  .photos_wide_right .photos__img:nth-child(2) {
    width: calc(67% - 10px); }

@media screen and (max-width: 500px) {
  .photos_wide_left .photos__img:nth-child(1) {
    width: calc(50% - 10px); }
  .photos_wide_left .photos__img:nth-child(2) {
    width: calc(50% - 10px); }
  .photos_wide_right .photos__img:nth-child(1) {
    width: calc(50% - 10px); }
  .photos_wide_right .photos__img:nth-child(2) {
    width: calc(50% - 10px); } }

@media screen and (max-width: 500px) {
  .photos {
    height: 131px; }
    .photos__img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; } }

.heading {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: -1.5px; }

.button {
  display: block;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: #0075ff;
  background-color: white;
  cursor: pointer;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s; }
  .button:hover {
    background-color: #0075ff;
    color: white; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 93px; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #0075ff; }
  .consultation__text {
    width: 412px; }
  .consultation__form {
    width: 413px; }

@media screen and (max-width: 500px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%; } }

html,
body,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  outline-style: none;
  resize: none; }

strong {
  font-weight: bold; }

a {
  outline-color: rgba(255, 255, 255, 0.3);
  color: #0075ff;
  text-decoration: none; }

main {
  background-color: white; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 15px; }
  .form__input {
    width: 100%; }
  .form__button {
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    height: 56px;
    margin-top: 17px;
    width: 100%; }

.input {
  font-size: 14px;
  line-height: 14px;
  color: #b9c1ce;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px; }
  .input::-webkit-input-placeholder {
    color: inherit; }
  .input::-moz-placeholder {
    color: inherit; }
  .input:-ms-input-placeholder {
    color: inherit; }
  .input::-ms-input-placeholder {
    color: inherit; }
  .input::placeholder {
    color: inherit; }
  .input_textarea {
    height: 144px; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 93px; }

@media screen and (max-width: 850px) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.person__photo {
  padding-left: 43px;
  padding-right: 43px;
  width: 153px;
  height: 153px; }

.person__name {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #0075ff; }

.person__position {
  text-align: center;
  margin-top: 4px;
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2; }

.person__text {
  text-align: center;
  margin-top: 14px;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e; }

@media screen and (max-width: 500px) {
  .person__photo {
    padding-left: 83px;
    padding-right: 84px; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 88px; }
  .contact__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 413px;
    font-size: 16px;
    line-height: 27px; }
  .contact__text_heading {
    margin-top: 0;
    color: #9fadc2; }
  .contact__form {
    width: 413px; }

@media screen and (max-width: 500px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
    .contact__form {
      width: 100%; } }

.footer {
  height: 359px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/footer.svg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    margin: auto;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .footer__logo_img {
    height: 76px; }

/*# sourceMappingURL=main.css.map */
